  <nav class="ui fixed large menu">
    <h3 class="header item">LogoPlaceholder</h3>
    <a [class.active]="getLinkStyle('/thoughts')" class="item" [routerLink]="['/Thoughts']">Thoughts</a>
    <a [class.active]="getLinkStyle('/designs')" class="item" [routerLink]="['/Designs']">Designs</a>
    <a [class.active]="getLinkStyle('/projects')" class="item" [routerLink]="['/Projects']">Projects</a>
    <a [class.active]="getLinkStyle('/vitae')" class="item" [routerLink]="['/Vitae']">Vitae</a>
    <div id="social" class="item large right">
      <a href="https://github.com/evanplaice"><i class="github icon"></i></a>
      <a href="http://stackoverflow.com/users/290340/evan-plaice"><i class="stack overflow icon"></i></a>
      <a href="https://twitter.com/evanplaice"><i class="twitter icon"></i></a>
    </div>
  </nav>

  <div id="masthead" class="container"></div>