<body>
<main id="main">
<div id="container">

<about [name]="resume.name" [contact]="resume.contact"></about>
<info [info]="resume.info"></info>
<skills [skills]="resume.skills"></skills>
<employment [employment]="resume.employment"></employment>
<projects [projects]="resume.projects"></projects>
<education [education]="resume.education"></education>
<affiliations [affiliations]="resume.affiliation"></affiliations>
<service [service]="resume.service"></service>
<samples [samples]="resume.samples"></samples>
<writing [writing]="resume.writing"></writing>
<reading [reading]="resume.reading"></reading>
<recognition [recognition]="resume.recognition"></recognition>
<speaking [speaking]="resume.speaking"></speaking>
<testimonials [testimonials]="resume.testimonials"></testimonials>
<references [references]="resume.references"></references>

</div>
</main>
</body>