<body>
<main id="main">
<div id="container">

<header>
  <h1>{{ resume.name }}</h1>
  <div id="contact">
    <div *ngIf="resume.contact.email" class="email"><a href="mailto:{{ resume.contact.email }}">{{ resume.contact.email }}</a></div>
    <div *ngIf="resume.contact.phone" class="phone">{{ resume.contact.phone }}</div>
    <div *ngIf="resume.contact.website" class="website"><a href="{{ resume.contact.website }}">{{ resume.contact.website }}</a></div>
  </div>
</header>

<about [about]="resume.info.brief"></about>

<skills [skills]="resume.skills"></skills>

<employment [employment]="resume.employment"></employment>

<projects [projects]="resume.projects"></projects>

<education [education]="resume.education"></education>

<service [service]="resume.service"></service>

<samples [samples]="resume.samples"></samples>

<writing [writing]="resume.writing"></writing>

<recognition [recognition]="resume.recognition"></recognition>

<speaking [speaking]="resume.speaking"></speaking>

<testimonials [testimonials]="resume.testimonials"></testimonials>

<references [references]="resume.references"></references>

</div>
</main>
</body>