
<div>
  <h1>This is a &lt;h1&gt; Style</h1>
</div>

<hr>

<div>
  <h2>This is a &lt;h2&gt; Style</h2>
</div>

<hr>

<div>
  <h3>This is a &lt;h3&gt; Style</h3>
</div>

<hr>

<div>
  <p>This is a &lt;p&gt; Style</p>
</div>

<hr>

<div>
  <code>This is a &lt;code&gt; Style</code>
</div>

<hr>

<ng2-markdown>
# This is a Markdown &lt;h1&gt; Style

-----

## This is a Markdown &lt;h2&gt; Style

-----

### This is a Markdown &lt;h3&gt; Style

-----

This is a Markdown &lt;p&gt; Style

-----

```language-javascript
// this is a Markdown code style
function example() {
  var someval = null;
  return someval;
}
```
</ng2-markdown>
