<body>
<main>

<about [name]="resume.name" [contact]="resume.contact"></about>
<info [info]="resume.info"></info>
<employment [employment]="resume.employment"></employment>
<projects [projects]="resume.projects"></projects>
<skills [skills]="resume.skills"></skills>
<service [service]="resume.service"></service>
<education [education]="resume.education"></education>
<social [social]="resume.social"></social>
<recognition [recognition]="resume.recognition"></recognition>
<writing [writing]="resume.writing"></writing>
<reading [reading]="resume.reading"></reading>
<speaking [speaking]="resume.speaking"></speaking>
<governance [governance]="resume.governance"></governance>
<languages [languages]="resume.languages"></languages>
<samples [samples]="resume.samples"></samples>
<references [references]="resume.references"></references>
<testimonials [testimonials]="resume.testimonials"></testimonials>
<interests [interests]="resume.interests"></interests>
<extracurricular [extracurricular]="resume.extracurricular"></extracurricular>
<affiliations [affiliations]="resume.affiliation"></affiliations>

</main>
</body>
