<div class="ui segment">
  <div class="ui center aligned container">
      <div class="ui centered mini">Crafted with <i class="empty heart icon"></i> using Angular2 &amp; Semantic UI &amp; JSPM</div>
      <nav class="ui horizontal small divided link list">
        <a class="item" [routerLink]="['/thoughts']">Thoughts</a>
        <a class="item" [routerLink]="['/designs']">Designs</a>
        <a class="item" [routerLink]="['/projects']">Projects</a>
        <a class="item" [routerLink]="['/vitae']">Vitae</a>
      </nav>
  </div>
</div>