<h1>curriculim vitae</h1>

<wc-icon-rule>
  <img src="assets/fontawesome/svgs/solid/cubes.svg" />
</wc-icon-rule>

<wc-resume src="https://evanplaice.github.io/resume/Evan.Plaice-Full.Stack.Dev.json" theme="assets/positive/"></wc-resume>

<div id="resume">
  <div class="ui center aligned container">
      <nav class="ui two column middle aligned very relaxed stackable grid">
        <a class="column" href="https://evanplaice.gitlab.io/resume/Evan.Plaice-Full.Stack.Dev.pdf">Download PDF</a>
          <hr>
        <a class="column" href="https://evanplaice.gitlab.io/resume/Evan.Plaice-Full.Stack.Dev.json">Download JSON (FRESH)</a>
      </nav>
  </div>
</div>