<h2>curriculim vitae</h2>

<wc-icon-rule>
  <img src="assets/fontawesome/cubes.svg">
</wc-icon-rule>

<wc-resume src="https://evanplaice.github.io/resume/Evan.Plaice-Full.Stack.Dev.json" theme="assets/positive/"></wc-resume>

<div id="resume">
  <div>
    <a class="column" href="https://evanplaice.gitlab.io/resume/Evan.Plaice-Full.Stack.Dev.pdf">Download (PDF)</a>
    <hr>
    <a class="column" href="https://evanplaice.gitlab.io/resume/Evan.Plaice-Full.Stack.Dev.json">Download (JSON)</a>
  </div>
</div>