<h1>designs</h1>

<h4 class="ui horizontal divider header">
  <i class="css3 icon large" style="margin-right: 0rem !important;"></i>
</h4>

<div class="ui center aligned container">
  <h2><a href="http://strikegrouptest.appspot.com">StrikeGroup.org</a></h2>
  <a href="http://strikegrouptest.appspot.com/_typefaces">Design Guide</a>
</div>
<div class="ui divider"></div>
<ng2-markdown [src]="'content/designs/strikegroup/description.md'"></ng2-markdown>
<div class="ui divider"></div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/content/designs/strikegroup/thumbs/about-us.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/strikegroup/thumbs/strategic-sourcing.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/strikegroup/thumbs/government-projects.png">
  </div>
</div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/content/designs/strikegroup/thumbs/commercial-projects.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/strikegroup/thumbs/information-technology.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/strikegroup/thumbs/seaport-e.png">
  </div>
</div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/content/designs/strikegroup/thumbs/careers.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/strikegroup/thumbs/contact-us.png">
  </div>
  <div class="column">
  </div>
</div>

<div class="ui divider"></div>

<div class="ui center aligned container">
  <h2><a href="http://jpasims.appspot.com">JPASims.com</a></h2>
  <a href="http://jpasims:evannn@jpasims.appspot.com/_typefaces">Design Guide</a>
</div>
<div class="ui divider"></div>
<ng2-markdown [src]="'content/designs/jpasims/description.md'"></ng2-markdown>
<div class="ui divider"></div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/home.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/about-us.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/press-releases.png">
  </div>
</div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/projects.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/sim-products.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/sims-for-sale.png">
  </div>
</div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/parts-for-sale.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/devices-for-sale.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/consulting.png">
  </div>
</div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/links.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/content/designs/jpasims/thumbs/contact-us.png">
  </div>
  <div class="column">
  </div>
</div>

<!--
<div class="ui divider"></div>

<design *ngFor="#design of designs" [design]="design">
-->