<h1>designs</h1>

<h4 class="ui horizontal divider header">
  <i class="css3 icon large" style="margin-right: 0rem !important;"></i>
</h4>

<div class="ui center aligned container">
  <h2><a href="http://strikegrouptest.appspot.com">StrikeGroup.org</a></h2>
  <div class="ui divider"></div>
</div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/images/designs/strikegroup-thumbs/about-us.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/images/designs/strikegroup-thumbs/strategic-sourcing.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/images/designs/strikegroup-thumbs/government-projects.png">
  </div>
</div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/images/designs/strikegroup-thumbs/commercial-projects.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/images/designs/strikegroup-thumbs/information-technology.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/images/designs/strikegroup-thumbs/seaport-e.png">
  </div>
</div>
<div class="ui three column grid design">
  <div class="column">
    <img class="ui small image" src="/images/designs/strikegroup-thumbs/careers.png">
  </div>
  <div class="column">
    <img class="ui small image" src="/images/designs/strikegroup-thumbs/contact-us.png">
  </div>
  <div class="column">
  </div>
</div>

