<body>
<main id="main">
<div id="container">

<header>
  <h1>{{ resume.name }}</h1>
  <div id="contact">
    <div *ngIf="resume.contact.email" class="email"><a href="mailto:{{ resume.contact.email }}">{{ resume.contact.email }}</a></div>
    <div *ngIf="resume.contact.phone" class="phone">{{ resume.contact.phone }}</div>
    <div *ngIf="resume.contact.website" class="website"><a href="{{ resume.contact.website }}">{{ resume.contact.website }}</a></div>
  </div>
</header>

<template [ngIf]="resume.info.brief">
<hr>
<section id="summary">
  <h2>About</h2>
  <span class="fa fa-lg fa-user"></span>
  {{ resume.info.brief }}
</section>
</template>

<hr>
<section id="skills">
  <header>
    <h2>Skills</h2>
  </header>
  <span class="fa fa-lg fa-code"></span>
  <ul *ngFor="#set of resume.skills.sets" class="list-unstyled">
    <li class="card card-nested card-skills">
      <div class="skill-level" rel="tooltip" title="{{ set.level }}" data-placement="left">
        <div class="skill-progress {{ set.level | lowercase }}"></div>
      </div>
      <div class="skill-info">
        <strong>{{ set.name }}</strong>
        <div class="space-top labels">
          <span *ngIf="set.skills">
            <span *ngFor="#skill of set.skills" class="label label-keyword">{{ skill }}</span>
          </span>
        </div>
      </div>
    </li>
  </ul>
</section>

<hr>
<section id="employment">
  <header>
    <h2>Employment</h2>
  </header>
  <span class="fa fa-lg fa-building"></span>
  <div *ngFor="#job of resume.employment.history">
    <div>
      <h3><em>{{ job.position }}</em>,
        <a *ngIf="job.url" href="{{ job.url }}">{{ job.employer }}</a>
        <template [ngIf]="!job.url">{{ job.employer }}</template>
      </h3>
      <duration [start]="job.start" [end]="job.end"></duration>
      <p>{{ job.summary }}</p>
      <highlights [highlights]="job.highlights"></highlights>
      <keywords [keywords]="job.keywords"></keywords>
    </div>
  </div>
</section>

<hr>
<section id="projects">
  <header>
    <h2>Projects</h2>
  </header>
  <span class="fa fa-lg fa-star"></span>
  <div *ngFor="#project of resume.projects | derp">
    <h3 *ngIf="project.role"><em>{{ project.role }}</em>,
      <a *ngIf="project.url" href="{{ project.url }}">{{ project.title }}</a>
      <template [ngIf]="!project.url">{{ project.title }}</template>
    </h3>
    <p>{{ project.summary }}<p>
    <highlights [highlights]="project.highlights"></highlights>
    <keywords [keywords]="project.keywords"></keywords>
  </div>
</section>

<hr>
<section id="education">
  <header>
    <h2>Education</h2>
  </header>
  <span class="fa fa-lg fa-mortar-board"></span>
  <div *ngFor="#school of resume.education.history">
    <h3><template [ngIf]="school.title">{{ school.title }}, </template>{{ school.institution }}</h3>
    <duration [start]="school.start" [end]="school.end"></duration>
    <p>{{ school.summary }}<p>
    <curriculum [curriculum]="school.curriculum"></curriculum>
  </div>
</section>

<hr>
<section id="service">
  <header>
    <h2>Service</h2>
  </header>
  <span class="fa fa-lg fa-child"></span>
  <div *ngFor="#role of resume.service.history">
    <h3 *ngIf="role.organization"><em>{{ role.organization }}</em>,
      <a *ngIf="role.url" href="{{ role.url }}">{{ role.position }}</a>
      <template [ngIf]="!role.url">{{ role.position }}</template>
    </h3>
    <duration [start]="role.start" [end]="role.end"></duration>
    <p>{{ role.summary }}</p>
    <highlights [highlights]="role.highlights"></highlights>
  </div>
</section>

<hr>
<section id="samples">
  <header>
    <h2>Samples</h2>
  </header>
  <span class="fa fa-lg fa-share"></span>
  <div *ngFor="#sample of resume.samples | derp">
    <h3 *ngIf="sample.title">
      <a *ngIf="sample.url" href="{{ sample.url }}">{{ sample.title }}</a>
      <template [ngIf]="!sample.url">{{ role.title }}</template>
    </h3>
    <span *ngIf="sample.date" class="tenure">{{ sample.date }}</span>
    <p>{{ sample.summary }}</p>
  </div>
</section>


<!--

{{#*inline "icon-writing"}}<span class="fa fa-lg fa-pencil"></span>{{/inline}}
{{#*inline "icon-recognition"}}<span class="fa fa-lg fa-trophy"></span>{{/inline}}
{{#*inline "icon-speaking"}}<span class="fa fa-lg fa-users"></span>{{/inline}}
{{#*inline "icon-testimonials"}}<span class="fa fa-lg fa-thumbs-o-up"></span>{{/inline}}
{{#*inline "icon-references"}}<span class="fa fa-lg fa-thumbs-o-up"></span>{{/inline}}
-->

</div>
</main>
</body>