<div class="ui segment">
  <div class="ui center aligned container">
      <div class="ui centered mini">Crafted with <i class="empty heart icon"></i> using Angular &amp; Fomantic UI &amp; JSPM</div>
      <nav class="ui small horizontal list link">
        <span><a class="item" [routerLink]="['/thoughts']">Thoughts</a></span> |
        <span><a class="item" [routerLink]="['/designs']">Designs</a></span> |
        <span><a class="item" [routerLink]="['/projects']">Projects</a></span> |
        <span><a class="item" [routerLink]="['/vitae']">Vitae</a></span>
      </nav>
  </div>
</div>
