
<header>
  <h1>EvanPlaice.com</h1>
  <nav>
    <div id="pages">
      <a class="nav-item" [class.active]="isActive('/thoughts')" [routerLink]="['/thoughts']">Thoughts</a>
      <a class="nav-item" [class.active]="isActive('/designs')" [routerLink]="['/designs']">Designs</a>
      <a class="nav-item" [class.active]="isActive('/projects')" [routerLink]="['/projects']">Projects</a>
      <a class="nav-item" [class.active]="isActive('/vitae')" [routerLink]="['/vitae']">Vitae</a>
    </div>
    <div id="social">
      <wc-social-link network="gitlab" handle="evanplaice"></wc-social-link>
      <wc-social-link network="github" handle="evanplaice"></wc-social-link>
      <wc-social-link network="stackoverflow" handle="290340"></wc-social-link>
      <wc-social-link network="twitter" handle="evanplaice"></wc-social-link>
      <wc-social-link network="email" handle="evanplaice@gmail.com"></wc-social-link>
    </div>
  </nav>
</header>