  <nav id="topnav" class="ui fixed large menu">
    <h3 class="header item">EvanPlaice.com</h3>
    <a class="item" [class.active]="isActive('/thoughts')" [routerLink]="['/thoughts']">Thoughts</a>
    <a class="item" [class.active]="isActive('/designs')" [routerLink]="['/designs']">Designs</a>
    <a class="item" [class.active]="isActive('/projects')" [routerLink]="['/projects']">Projects</a>
    <a class="item" [class.active]="isActive('/vitae')" [routerLink]="['/vitae']">Vitae</a>
    <div id="social" class="item large right">
      <a href="https://gitlab.com/evanplaice"><i class="gitlab icon"></i></a>
      <a href="https://github.com/evanplaice"><i class="github icon"></i></a>
      <a href="https://stackoverflow.com/users/290340/evan-plaice"><i class="stack overflow icon"></i></a>
      <a href="https://twitter.com/evanplaice"><i class="twitter icon"></i></a>
      <a href="mailto:evanplaice@gmail.com"><i class="mail icon"></i></a>
    </div>
  </nav>

  <div id="masthead" class="container"></div>
