  <nav id="topnav" class="ui fixed large menu">
    <h3 class="header item">EvanPlaice.com</h3>
    <a class="item" [class.active]="isActive('/thoughts')" [routerLink]="['/thoughts']">Thoughts</a>
    <a class="item" [class.active]="isActive('/designs')" [routerLink]="['/designs']">Designs</a>
    <a class="item" [class.active]="isActive('/projects')" [routerLink]="['/projects']">Projects</a>
    <a class="item" [class.active]="isActive('/vitae')" [routerLink]="['/vitae']">Vitae</a>
    <div id="social" class="item large right">
      <a href="https://gitlab.com/evanplaice" aria-label="GitLab Link">
        <svg viewBox="0 0 512 512">
          <use href="assets/fontawesome/svgs/brands/gitlab.svg#gitlab"></use>
        </svg>
      </a>
      <a href="https://github.com/evanplaice" aria-label="GitHub Link">
        <svg viewBox="0 0 512 512">
          <use href="assets/fontawesome/svgs/brands/github.svg#github"></use>
        </svg>
      </a>
      <a href="https://stackoverflow.com/users/290340/evan-plaice" aria-label="Stack Overflow Link">
        <svg viewBox="0 0 512 512">
          <use href="assets/fontawesome/svgs/brands/stack-overflow.svg#stack-overflow"></use>
        </svg>
      </a>
      <a href="https://twitter.com/evanplaice" aria-label="Twitter Link">
        <svg viewBox="0 0 512 512">
          <use href="assets/fontawesome/svgs/brands/twitter.svg#twitter"></use>
        </svg>
      </a>
      <a href="mailto:evanplaice@gmail.com" aria-label="Email Link">
        <svg viewBox="0 0 512 512">
          <use href="assets/fontawesome/svgs/solid/envelope.svg#envelope"></use>
        </svg>
      </a>
    </div>
  </nav>

  <div id="masthead" class="container">
    <picture>
      <source srcset="https://content.evanplaice.com/sailboatraces.webp" type="image/webp">
      <img src="https://content.evanplaice.com/sailboatraces.png" alt="Beautiful Panoramic Picture of Sailboats Racing">
    </picture>
  </div>
