<h1>curriculim vitae</h1>

<h4 class="ui horizontal divider header">
  <i class="cubes icon large" style="margin-right: 0rem !important;"></i>
</h4>

<resume [resume]='resume'></resume>

<div class="ui segment">
  <div class="ui center aligned container">
      <nav class="ui two column middle aligned very relaxed stackable grid">
        <a class="column" href="content/vitae/Evan.Plaice-Full.Stack.Dev.pdf">Download PDF</a>
          <div class="ui vertical divider"></div>
        <a class="column" href="content/vitae/Evan.Plaice-Full.Stack.Dev.json">Download JSON (FRESH)</a>
      </nav>
  </div>
</div>