@font-face {
  font-family: "Orbitron";
  src: url(fonts/Orbitron-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(fonts/Lato-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url(fonts/SourceCodePro-Medium.ttf) format("truetype");
  font-display: swap;
}

/* Layout
-------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;

}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 999;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

nav {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

hr {
  color: #ddd;
  border-color: #ddd;
  border-bottom: none;
  border-style: solid;
  border-top: none;
  border-width: 1px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

wc-icon-rule {
  --hr-color: #ddd;
  margin-bottom: 1em;
}

wc-markdown  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px #777;
}

wc-resume {
  width: 800px;
  margin: 0 auto;
}

.design > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px #777;
}

#resume {
  width: auto;
  padding: 1.5em 3em 1.5em 3em;
  border: 1px solid #ddd;
}

#resume div {
  display: flex;
  justify-content: space-evenly;
}

#resume a {
  display: flex;
}

/* Typography
-------------------------------------- */
body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 15px !important;
}

h1, h2, h3, h4 {
  font-family: 'Orbitron', Helvetica, sans-serif !important;
}

h1 {
  font-size: 1.1rem !important;
  margin: 0 !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

h2 {
  font-size: 4.5rem !important;
  margin-bottom: 1rem !important;
}

h3 {
  font-size: 2rem !important;
  margin-top: 0 !important;
  text-align: center;
}

h4 {
  font-size: 1.2rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  text-align: center;
}

p {
  font-size: 1.25rem !important;
}

code {
  font-family: 'Source Code Pro', monospace !important;
}

p, code, pre {
  line-height: 1.5 !important;
  margin-bottom: 1.5rem !important;
}

wc-markdown > h1, wc-markdown > h2, wc-markdown > h3 {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

wc-markdown > h1 {
  font-size: 2.5rem !important;
}

wc-markdown > h2 {
  font-size: 2rem !important;
}

wc-markdown > h3 {
  font-size: 1.75rem !important;
}


/* Responsive
-------------------------------------- */
/* HD */
@media screen and (min-width: 1280px) {
  body {
    font-size: 19px !important;
  }

  main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Desktop */
@media screen and (max-width: 1280px) and (min-width: 980px) {
  body {
    font-size: 17px !important;
  }

  main {
    width: 933px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Tablet */
@media screen and (max-width: 980px) and (min-width: 736px) {
  main {
    width: 723px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Not Mobile */
@media screen and (min-width: 480px) {
  header {
    flex-direction: row;
  }

  nav {
    flex-direction: row;
  }

  #resume hr {
    display: none;
  }
}

/* Mobile */
@media screen and (min-width: 0px) and (max-width: 480px) {
  html {
    font-size: 13px;
  }

  header {
    flex-direction: column;
    position: relative;
  }

  h1 {
    font-size: 1rem !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  h2 {
    font-size: 3.5rem !important;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem !important;
  }

  h4 {
    font-size: 1rem !important;
  }

  p {
    font-size: 1.1rem;
  }

  code, pre {
    font-size: .8rem !important;
  }

  header nav {
    flex-direction: column;
  }

  #resume div {
    flex-direction: column;
  }

  #resume a {
    justify-content: center;
  }

  #resume hr {
    display: block;
  }

  wc-markdown  img {
    width: 80%;
  }

  wc-resume {
    display: none;
  }
}
