@font-face {
  font-family: "Orbitron";
  src: url(assets/fonts/Orbitron-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  src: url(assets/fonts/SourceCodePro-Medium.ttf) format("truetype");
}

/* Layout
-------------------------------------- */

main {
  margin-top: 2em;
  margin-bottom: 2em;
}

.project {
  margin-top: 20px !important;
}

.design > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px #777;
}

#resume {
  border: 1px solid #ddd;
  padding: 1.5em 3em 1.5em 3em;
}

#resume hr {
  display: none;
}

/* Typography
-------------------------------------- */

/* Document level adjustments */
body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
}

/* Type will scale with document */
h1, h2, h3 {
  font-family: 'Orbitron', Helvetica, sans-serif !important;
}

h1 {
  font-size: 4.5rem !important;
}
h2 {
  font-size: 2rem !important;
}
h3 {
  font-size: 1rem !important;
}

p {
  font-size: 1.25rem;
}

code {
  font-family: 'Source Code Pro', monospace !important;
}

p, code, pre {
  line-height: 1.5 !important;
  margin-bottom: 1.5rem !important;
}

hr {
  color: #ddd;
  border-color: #ddd;
  border-bottom: none;
  border-style: solid;
  border-top: none;
  border-width: 1px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

wc-icon-rule {
  --hr-color: #ddd;
  margin-bottom: 1em;
}

wc-markdown > h1, wc-markdown > h2, wc-markdown > h3 {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

wc-markdown > h1 {
  font-size: 2.5rem !important;
}

wc-markdown > h2 {
  font-size: 2rem !important;
}

wc-markdown > h3 {
  font-size: 1.75rem !important;
}

wc-markdown  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px #777;
}

wc-resume {
  width: 800px;
}

/* Responsive
-------------------------------------- */

/* Not Huge Desktop */
@media (max-width: 900px) {
  html { font-size: 15px; }
}

/* Mobile */
@media (max-width: 414px) {
  html { font-size: 13px; }
}

/*Not Mobile*/
@media screen and (min-width: 414px) and (max-width: 1024px) {
  /*ui fixed large menu*/
  #topnav{
    /* display: flex; */
    /* position: fixed; */
    /* flex-direction: row; */
    /* -webkit-box-orient: horizontal; */
  }
}

/*Mobile*/
@media screen and (min-width: 0px) and (max-width: 414px) {
  /* layout adjustments
     ---------------------- */

  /*ui fluid vertical menu */
  #topnav {
    display: block;
    position: relative;
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  }

  /* center links on mobile */
  #topnav > .item {
    display: block;
    text-align: center;
  }

  #resume hr {
    display: block;
  }

  wc-markdown  img {
    width: 80%;
  }

  wc-resume {
    display: none;
  }

  /* typography adjustments
     ---------------------- */

  h1 {
    font-size: 3.5rem !important;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1rem !important;
  }

  p {
    font-size: 1.1rem;
  }

  code, pre {
    font-size: .8rem !important;
  }
}
