@font-face {
  font-family: "Orbitron";
  src: url(fonts/Orbitron-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url(fonts/Lato-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url(fonts/SourceCodePro-Medium.ttf) format("truetype");
  font-display: swap;
}

/* Layout
-------------------------------------- */

* {
  box-sizing: border-box;
}

main {
  width: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;

}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 999;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

nav {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

hr {
  color: #ddd;
  border-color: #ddd;
  border-bottom: none;
  border-style: solid;
  border-top: none;
  border-width: 1px;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

wc-icon-rule {
  --hr-color: #ddd;
  margin-bottom: 1em;
}

wc-markdown  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px #777;
}

wc-resume {
  width: 800px;
}

.nav-item {
  display: inline-block;
  font-size: 1.15rem !important;
  margin-top: 0 !important;
  text-align: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-left: 1px solid rgba(0, 0, 0, .1);
  color: black;
}

.nav-item:last-child {
  border-right: 1px solid rgba(0, 0, 0, .1);
}

.nav-item:hover {
  color: black;
  background-color: rgba(0, 0, 0, .03);
}

.active {
  background-color: rgba(0, 0, 0, .05);
}

#pages {
  display: flex;
}

#social {
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.project {
  margin-top: 20px !important;
}

.design > div > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px #777;
}

#resume {
  width: auto;
  padding: 1.5em 3em 1.5em 3em;
  border: 1px solid #ddd;
}

#resume div {
  display: flex;
  justify-content: space-evenly;
}

#resume a {
  display: flex;
}

/* Typography
-------------------------------------- */

/* Document level adjustments */
body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 17px;
}

h1, h2, h3, h4 {
  font-family: 'Orbitron', Helvetica, sans-serif !important;
}

h1 {
  font-size: 1.1rem !important;
  margin: 0 !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

h2 {
  font-size: 4.5rem !important;
  margin-bottom: 1rem !important;
}

h3 {
  font-size: 2rem !important;
  margin-top: 0 !important;
  text-align: center;
}

h4 {
  font-size: 1.2rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  text-align: center;
}

p {
  font-size: 1.25rem !important;
}

code {
  font-family: 'Source Code Pro', monospace !important;
}

p, code, pre {
  line-height: 1.5 !important;
  margin-bottom: 1.5rem !important;
}

wc-markdown > h1, wc-markdown > h2, wc-markdown > h3 {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
}

wc-markdown > h1 {
  font-size: 2.5rem !important;
}

wc-markdown > h2 {
  font-size: 2rem !important;
}

wc-markdown > h3 {
  font-size: 1.75rem !important;
}


/* Responsive
-------------------------------------- */

/* Not Huge Desktop */
@media screen and (max-width: 992px) {
  html { font-size: 15px; }
}

/* Mobile */
@media screen and (max-width: 414px) {
  html { font-size: 13px; }
}

/* HD */
@media screen and (min-width: 992px) {
  main {
    width: 933px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  main {
    width: 723px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Not Mobile*/
@media screen and (min-width: 500px) {
  header {
    flex-direction: row;
  }

  nav {
    flex-direction: row;
  }

  #resume hr {
    display: none;
  }
}

/*Mobile*/
@media screen and (min-width: 0px) and (max-width: 500px) {
  header {
    flex-direction: column;
    position: relative;
  }

  h1 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  header nav {
    flex-direction: column;
  }

  #pages {
    width: 100%;
    flex-direction: column;
  }

  .nav-item {
    border: none;
  }

  #resume div {
    flex-direction: column;
  }

  #resume a {
    justify-content: center;
  }

  #resume hr {
    display: block;
  }

  wc-markdown  img {
    width: 80%;
  }

  wc-resume {
    display: none;
  }

  /* typography adjustments
     ---------------------- */

  h1 {
    font-size: 1rem !important;
  }

  h2 {
    font-size: 3.5rem !important;
    text-align: center;
  }

  h3 {
    font-size: 1.5rem !important;
  }

  h4 {
    font-size: 1rem !important;
  }

  p {
    font-size: 1.1rem;
  }

  code, pre {
    font-size: .8rem !important;
  }
}
