@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500);


main {
  margin-top: 40px;
  margin-bottom: 40px;
}

#social > a {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.2em;
}

/* TODO: make the masthead responsive */
#masthead {
  height: 365px;
  background-image: url('../images/sailboatraces.png');
  background-repeat: no-repeat;
  background-position:center center;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  box-shadow: rgba(0,0,0,0.20) 0 5px 10px;
}